{% extends "admin/layout.html" %}
{% block content %}
<table class='compact'>
    {% for deadline in deadlines -%}
    <tr><td><a href="{{url_for('.deadline',id=deadline.id)}}">
                {{deadline.text}}</a></td>
        <td>{{deadline.date.strftime("%Y-%m-%d")}}</td></tr>
    {% else %}
    <tr><td>No Deadlines</td></tr>
    {%- endfor %}
    <tr></tr>
    <tr><td><a href="{{url_for('.newdeadline')}}">
            <button type='button'>New Deadline</button></a></td></tr>
</table>
{% endblock content %}
