{% extends "admin/layout.html" %}
{% from  "admin/macros.html" import script,css %}
{% block css %}
{{ css('white.css','.static') }}
{{ super() }}
{% endblock css %}

{% block scripts %}
{{ script('jquery.min.js','.static') }}
{{ script('glDatePicker.js','.static') }}

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#date").glDatePicker(
        {
            cssName: "white",
            allowOld: false,
            position: "fixed",
            onChange: function(target, newDate)
            {
                target.val
                (
                    newDate.getFullYear() + "-" +
                    (newDate.getMonth() + 1) + "-" +
                    newDate.getDate()
                );
            }

        });
    });
</script>

{% endblock scripts %}

{% block content %}
<form action='{{ target }}' method='POST'>
    <table>
        <tr><td>{{form.text.label}}</td>
            <td>{{form.text()}}</td></tr>
        <tr><td>{{form.date.label}}</td>
            <td width='300'>{{form.date()}}</td></tr>
        
        <tr><td><input type='submit' value='Submit'></td>
            {% if id %}
            <td><a href="{{ url_for('.deletedeadline',id=id)}}">
                    <input type='button' value='Delete'></a></td>
            {% endif %}
        </tr>
    </table>
</form>
{% endblock content %}

