{% extends "admin/layout.html" %}
{% block content %}
<h4>{{get_flashed_messages()[0]}}</h4>
<table class='compact'>
    {% for district in districts -%}
    <tr><td><a href="{{url_for('.district',id=district.id)}}">
            {{district.name}}</a></td>
        <td>{{district.schools.count()}} schools</td></tr>
    {% else %}
    <tr><td>No Districts</td></tr>
    {%- endfor %}
    <tr></tr>
    <tr><td><a href="{{url_for('.newdistrict')}}">
            <button type='button'>New District</button></a></td></tr>
</table>
{% endblock content %}
