{% extends "admin/layout.html" %}
{% block content %}
<div class='stats'>
    <table class='compact'>
        <tr><th colspan=3>Registrants by Division</th></tr>
        <tr><th>Senior</th><td>Total: {{ seniors.count() }}</td></tr>
        <tr><td></td>
            <td>Floor</td>
            <td>{{seniors.filter_by(floor=True).count()}}</td></tr>
        <tr><td></td>
            <td>Table</td>
            <td>{{seniors.filter_by(floor=False).count()}}</td></tr>
        <tr><td></td>
            <td>Elect.</td>
            <td>{{seniors.filter_by(electricity=True).count()}}</td></tr>
        <tr><th>Junior</th><td>Total: {{ juniors.count() }}</td></tr>
        <tr><td></td>
            <td>Floor</td>
            <td>{{juniors.filter_by(floor=True).count()}}</td></tr>
        <tr><td></td>
            <td>Table</td>
            <td>{{juniors.filter_by(floor=False).count()}}</td></tr>
        <tr><td></td>
            <td>Elect.</td>
            <td>{{juniors.filter_by(electricity=True).count()}}</td></tr>
    </table>
</div> <!-- Stats -->
<div class="downloads">
    <ul class='nobullet'>
        <li><a href="{{url_for('.downloadcsv')}}">Download as CSV</a></li>
</div> <!-- downloads -->
{% endblock content %}
