<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>{% block title %}RGV Regional SEF - ADMIN{% endblock title %}</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='default.css') }}" />
        {% endblock css %}
        {% block scripts -%}
        {%- endblock scripts %}
    </head>
    <body>
        <div class='wrapper'>
        <div class='header'>
        {% block header -%}
        <h1 class="boxify">RGV RSEF 2012 - Admin Interface</h1>
        {%- endblock header %}
        </div><!-- header -->
        {% block body %}
        <div class='content'>
        <table class='adminNav'><tr id='navlinks'>
                <th><a href="{{ url_for('index')}}">Home</a></th>
                <th><a href="{{ url_for('.index')}}">Admin Home</a></th>
                <th><a href="{{url_for('.news')}}">News</a></th>
                <th><a href="{{url_for('.deadlines')}}">Deadlines</a></th>
                <th><a href="{{url_for('.logout')}}">Logout</a></th>
            </tr>
            <tr id='navlinks'>
                <th><a href="{{url_for('.sponsors')}}">Sponsors</a></th>
                <th><a href="{{url_for('.schools')}}">Schools</a></th>
                <th><a href="{{url_for('.districts')}}">Districts</a></th>
                <th><a href="{{url_for('.projects')}}">Projects</a></th>
                <th><a href="{{url_for('.mailer')}}">Mailing</a></th>
        </tr></table>

        <div class='padding'></div>
        {% set flash_msg = get_flashed_messages()[0] %}
        {% if flash_msg %}
            <h4 class='boxify'>{{flash_msg}}</h4>
        {% endif %}
        {% block content %}
        {% endblock content %}
        <div class='push'></div>
        </div><!-- content -->
        </div><!-- wrapper -->
        {% endblock body %}
        <div class='footer'>
        {% block footer -%}
        <p>RGVRSEF Registration - Written by A.J. Ford and A. Garcia</p>
        {%- endblock footer %}
        </div><!-- footer -->
    </body>
</html>
