{% macro script(filename,endpoint='static') -%}
<script type='text/javascript' src='{{url_for(endpoint,filename=filename)}}'></script>
{%- endmacro %}

{% macro css(filename,endpoint='static') -%}
<link rel="stylesheet" type="text/css" media="all" href="{{url_for(endpoint,filename=filename)}}" />
{%- endmacro %}

{%macro render_project_narrow(cats,districts,div_narrow,cat_narrow,
dist_narrow,endpoint='.projects')%}
    <div class='plainlink'>
        <table><tr>
        <td>
            <a href="{{url_for('.projects')}}">
                <button type='button' id='projects'>Clear All</button></a>
        </td><td>
            <button type='button' id='districtText' 
            onclick="javascript:toggle('district','districtText')">
            Show District Filters :</button>
        </td><td>
            <button type='button' id='divText' 
            onclick="javascript:toggle('division','divText')">
            Show Division Filters :</button>
        </td><td>
            <button type='button' id='catText' 
            onclick="javascript:toggle('category','catText')">
            Show Category Filters:</button>
        </td></tr>
    </table>
    </div>
    
    <div id='district' style="display:none" class="filter">
    <ul class="sideways">
    {% if dist_narrow %}
    <li><a href="{{url_for(endpoint,category=cat_narrow,division=div_narrow,
        district='')}}">
            Clear</a></li>
    {% endif %}
    {% for district in districts %}
        {% if dist_narrow != district.id %}
        <li><a href="{{url_for(endpoint,category=cat_narrow,division=div_narrow,
            district=district.id)}}">
            {{district.name}}</a></li>
        {% else %}
        <li>{{district.name}}</li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    <div class="clear"></div>
    <div id='division' style="display:none" class="filter">
    <ul class="sidewaysSmall">
    {% for div in ['senior','junior'] %}
        {% if div_narrow != div %}
        <li><a href="{{url_for(endpoint,category=cat_narrow,
            district=dist_narrow,division=div)}}">
            {{div|title}}</a></li>
        {% else %}
        <li>{{div|title}}</li>
        {% endif %}
    {% endfor %}
    {% if div_narrow %}
        <li><a href="{{url_for(endpoint,category=cat_narrow,
            district=dist_narrow,division='')}}">
            Clear</a></li>
    {% endif %}
    </ul>
    </div>
    <div class="clear"></div>
    <div id='category' style="display:none" class="filter">
    <ul class="sideways">
    {% if cat_narrow %}
        <li><a href="{{url_for(endpoint,category='',
            district=dist_narrow,division=div_narrow)}}">
            Clear</a></li>
    {%endif%}
    {% for cat in cats %}
        {% if cat_narrow != cat.id %}
            <li><a href="{{url_for(endpoint,category=cat.id,
                district=dist_narrow,division=div_narrow)}}">
            {{cat.name|title}}</a></li>
        {% else %}
        <li>{{cat.name|title}}</li>
        {% endif %}
    {% else %}
        <li>No Categories</li>
    {% endfor %}
    </ul>
    </div>
    <div class="clear"></div>
{% endmacro %}

{%macro render_district_narrow(districts,district_narrow,endpoint='.schools')%}
    <button type='button' id='districtText' 
    onclick="javascript:toggle('district','districtText')">
    Show District Filters :</button>
    <div id='district' style="display:none" class="filter">
    <ul class="sideways">
    {% if district_narrow %}
        <li><a href="{{url_for(endpoint,district='')}}">
            Clear</a></li>
    {% endif %}
    {% for district in districts %}
        {% if district_narrow != district.id %}
        <li><a href="{{url_for(endpoint,district=district.id)}}">
            {{district.name}}</a></li>
        {% else %}
        <li>{{district.name}}</li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    <div class="clear"></div>
{% endmacro %}
    
