{% extends "admin/layout.html" %}
{% block content %}
<h4>{{get_flashed_messages()[0]}}</h4>
<table class='compact'>
    {% for newsitem in news -%}
    <tr><td><a href="{{url_for('.editnews',id=newsitem.id)}}">
                {{newsitem.title}}</a></td>
        <td>{{newsitem.date.strftime("%Y-%m-%d")}}</td></tr>
    {% else %}
    <tr><td>No News</td></tr>
    {%- endfor %}
    <tr></tr>
    <tr><td><a href="{{url_for('.newnews')}}">
                <button type='button'>New News</button></a></td></tr>
</table>
{% endblock content %}
