{% extends "admin/layout.html" %}
{% from "admin/macros.html" import render_project_narrow,script %}

{% block scripts %}
{{ super() }}
{{ script('default.js','.static') }}
{% endblock scripts %}

{% block content %}
<h4>{{get_flashed_messages()[0]}}</h4>
{{ render_project_narrow(categories,div_narrow,cat_narrow,endpoint) }}
<table class='compact'>
    <tr><th>Title</th><th>Category</th><th>Individual</th></tr>
    {% for project in projects -%}
    <tr><td><a href="{{url_for('.project',id=project.id)}}">
                {{project.title}}</a></td>
        <td>{{project.category.name}}</td>
        <td>{{project.individual}}</td></tr>
    {% else %}
    <tr><td>No Projects</td></tr>
    {%- endfor %}
    <tr></tr>
</table>
{% endblock content %}
