{% extends "admin/layout.html" %}
{% from "admin/macros.html" import render_district_narrow,script %}

{% block scripts %}
{{ super() }}
{{ script('default.js','.static') }}
{% endblock scripts %}

{% block content %}
<h4>{{get_flashed_messages()[0]}}</h4>
<div class='clear'></div>
{{ render_district_narrow(districts,district_narrow,'.sponsors') }}
<table class='compact'>
    {% for sponsor in sponsors -%}
    <tr><td><a href="{{url_for('.sponsor',id=sponsor.id)}}">
                {{sponsor.lastname}},{{sponsor.firstname}}</a></td>
        {% if sponsor.school %}
        <td><a href="{{url_for('.school',id=sponsor.school.id)}}">
            {{sponsor.school.name}}</a></td>
        <td><a href="{{url_for('.district',id=sponsor.school.district.id)}}">
            {{ sponsor.school.district.name}}</a></td>
        <td>{{ sponsor.students.filter_by(team_leader=True).count() }}
            Projects</td>
        {% endif %}
    </tr>
    {% else %}
    <tr><td>No Sponsors</td></tr>
    {%- endfor %}
    <tr></tr>
</table>
{% endblock content %}
