{% extends "admin/layout.html" %}
{% from "macros.html" import fieldtable,submitify %}
{% from "admin/macros.html" import script %}
{%block title%}ADMIN - Sponsor{%endblock%}

{% block scripts %}
{{ super() }}
{{ script('default.js','.static') }}
{% endblock scripts %}


{% block content %}
<div class="clearpad"></div>
<div id='sponsor_reg' class="left">
<form method="POST" action="{{ url_for('.sponsor',id=id)}}">
    {{ form.hidden_tag() }}
<table>
    <tr><td>Unique ID:</td><td>{{id|encode}}</td></tr>
    {{ fieldtable(form,'firstname') }} 
    {{ fieldtable(form,'lastname') }} 
    {{ fieldtable(form,'email') }} 
    {{ fieldtable(form,'phone') }} 
    {{ fieldtable(form,'school_id') }} 
    {{ submitify('Update') }}
</table>
</form>
</div><!-- sponsor_reg -->
{% if students %}
<div id='spons_students' class='right'>
    <table class='compact'>
        {% for student in students %}
        <tr>
            {% if student.project %}
            <td><a href='{{url_for('.project',id=student.project.id)}}'>
                    {{ student.project.title }}</a></td>
            {% else %}
            <td>No Project</td>
            {% endif %}
            <td>{{ student.lastname }}, {{student.firstname }}</td></tr>
        {% endfor %}
    </table>
</div><!-- spons_students -->
{% endif %}
<div id='spons_buttons' class="clear">
    <table class='compact'>
        <tr><td> <a href='{{url_for('.sponsorconf',id=id)}}' class='plainlink'> 
                    <button>Resend Confirmation Email</button></a></td>
        <td>
            <form action="{{url_for('.deletesponsor',id=id)}}" method="GET"
                onSubmit="return deleteConfirm('{{sponsor.lastname}}',
                '{{sponsor.firstname}}')">
                <input type="submit" value="Delete Sponsor">
            </form></td></tr>

    </table>
</div><!-- spons_button -->
<div class='clearpad'></div>
{% endblock content %}
