{% extends "admin/layout.html" %}
{% from "admin/macros.html" import render_sponsor_narrow %}
{% block content %}
<h4>{{get_flashed_messages()[0]}}</h4>
<div class='clear'></div>
<table class='compact'>
    <tr><td>{{sponsor.lastname}}, {{sponsor.firstname}}</td>
        {% if sponsor.school %}
        <td><a href="{{url_for('.school',id=sponsor.school.id)}}">
                {{sponsor.school.name}}</a></td>
        {% else %}
        <td>No school affiliation</td>
        {% endif %}
    </tr>
    </table><table>
    <tr><td>Email:</td><td>{{sponsor.email}}</td></tr>
    <tr><td>Phone:</td><td>{{sponsor.phone}}</td></tr>
    <tr><td>Unique ID:</td><td>{{sponsor.id|encode}}</td></tr>
    </tr>
</table>
{% endblock content %}
