# This is an example epio.ini file.
# We suggest you edit it to fit your application's needs.
# Documentation for the options is available at www.ep.io/docs/epioini/


# Leveraging epio's free shared postgresql service
[services]
postgres = true

# Loading the app and specifying the requirements
[wsgi]
entrypoint = RGVRSEF:app
requirements = pip_reqs.txt

# Symlinks to replace the config file if necessary
#[symlinks]
#RGVRSEF/config.py = RGVRSEF/config-epio.py

# Specifying the static files so epio will serve them
# for you, saving you the cpu time.
[static]
/static = RGVRSEF/static
/admin/static = RGVRSEF/admin/static


