body
{
    background:#608BDA;
	width:800px;
	margin-left:auto;
	margin-right:auto;
    font-size: 14px;
}
.warning
{
    color: red;
    font-weight: bold;
}
.header
{
	position:absolute;
	top:10px;
	height:120px;
    width: 800px;
	text-align:center;
    color: #fff;
}
.content
{
	position:absolute;
	top:120px;
    width:800px;
    padding:1em;
    background: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.news
{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	width:400px;
	text-align:center;
}
.deadlines
{
	position:relative;
	top:0px;
	width:400px;
	float:right;
	text-align:center;
}
.locations
{
	position:relative;
	clear:both;
	text-align:center;
    width:800px;
    padding-left:auto;
    padding-right:auto;
}
.start
{
	position:relative;
	left:100px;
	width:500px;
	text-align:center;
}
.footer
{
	position:fixed;
	width:800px;
	bottom:0px;	
    margin-left:auto;
    margin-right:auto;
	text-align:center;
	font-size:small;
    color: #fff;
}
	
.newslist dt
{
    font-weight:bold;
    font-style:italic;
    font-size:110%;
}
.nobullet
{
    list-style-type: none;
    padding-left: 0;
}
.filter
{
    width:800px;
}
.sidewaysSmall li 
{
    list-style-type: none;
    padding-bottom: 15px;
    float: left;
    width:4em;
    height:1em;
    font-size:90%;
}
.sideways li 
{
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width:8em;
    height:3em;
    font-size:90%;
}
.sidewaysLarge li
{
    list-style-type: none;
    float: left;
    padding: 0.25em;
    display: inline;
    font-size:0.9em;
}
.nav
{
    border: 1px #EEEEEE solid;
    background: #EEEEEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height:4em;
}
#navlinks a:link,
#navlinks a:visited 
{
   text-decoration: none;
   background-color: #EEEEEE;
   padding: 0.5em;
   color: #000000;
}
#navlinks a:hover
{
    text-decoration: none; 
    background-color: #769ADD; 
    color: #FFFFFF;
    padding: 0.5em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.boxify
{
    padding:1em 0em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    margin: auto;
}
#sponsid
{
    background: #FFC14F;
    width: 6em;
}
#aboutsponsid
{
    padding: 1em;
    background: #EEEEEE;
    text-align: left;
}
.clear
{
    clear: both;
    height:0px;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.adminNav th
{
    padding-left:5px;
    padding-right:5px;
}
