body
{
    background:#608BDA;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
.warning
{
    color: red;
    font-weight: bold;
}
.header
{
	position:absolute;
	top:0px;
	height:100px;
    width: 800px;
	text-align:center;
    color: #fff;
}
.content
{
	position:absolute;
	top:100px;
    width:800px;
    padding:1em;
    background: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.news
{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	width:400px;
	text-align:center;
}
.deadlines
{
	position:relative;
	top:0px;
	width:400px;
	float:right;
	text-align:center;
}
.locations
{
	position:relative;
	clear:both;
	text-align:center;
    width:800px;
    padding-left:auto;
    padding-right:auto;
}
.start
{
	position:relative;
	left:100px;
	width:500px;
	text-align:center;
}
.footer
{
	position:fixed;
	width:800px;
	bottom:0px;	
    margin-left:auto;
    margin-right:auto;
	text-align:center;
	font-size:small;
    color: #fff;
}
	
.newslist dt
{
    font-weight:bold;
    font-style:italic;
    font-size:110%;
}
.nobullet
{
    list-style-type: none;
    padding-left: 0;
}
.filter
{
    width:800px;
}
.sidewaysSmall li 
{
    list-style-type: none;
    padding-bottom: 15px;
    float: left;
    width:4em;
    height:1em;
    font-size:90%;
}
.sideways li 
{
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width:8em;
    height:3em;
    font-size:90%;
}
.sidewaysLarge li 
{
    list-style-type: none;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    float: left;
    height:3em;
}
.nav
{
    border: 1px #eee solid;
    background: #eeeeee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height:3em;
}
.clear
{
    clear: both;
    height:0px;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.adminNav th
{
    padding-left:5px;
    padding-right:5px;
}
