/* Sticky footer additions. 
Taken from http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
* {margin:0;}
html{height:100%;}
.wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.push{height: 4em;}
/* End Sticky footer main */

/* Defaults */
h1, h2, h3, h4 
{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align:center;
}
/* End Defaults */

/* Main Sections */
body
{
    height:100%;
    background:#608BDA;
	width:800px;
	margin-left:auto;
	margin-right:auto;
    font-size: 14px;
    font-family: sans-serif;
}
p {padding-top: 1em;padding-bottom: 1em;}
.header
{
	position:absolute;
	top:10px;
	height:120px;
    width: 800px;
	text-align:center;
    color: #fff;
    display: block;
}
.content
{
	position:absolute;
	top:120px;
    width:800px;
    padding:1em;
    background: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.news
{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	width:400px;
	text-align:center;
}
.deadlines
{
	position:relative;
	top:0px;
	width:400px;
	float:right;
	text-align:center;
}
.locations
{
	position:relative;
	clear:both;
	text-align:center;
    width:800px;
    padding-left:auto;
    padding-right:auto;
}
.start
{
	position:relative;
	left:100px;
	width:500px;
	text-align:center;
}
.footer
{
    height: 4em;
    margin-left:auto;
    margin-right:auto;
	text-align:center;
	font-size:small;
    color: #fff;
    z-index:-1;
}
	

/* Specific Styles */
.warning
{
    color: red;
    font-weight: bold;
}
.emphasis
{
    font-style: italic;
}
.newslist dt
{
    font-weight:bold;
    font-style:italic;
    font-size:110%;
}
.nobullet
{
    list-style-type: none;
    padding-left: 0;
}
.filter
{
    width:800px;
}
.sidewaysSmall li 
{
    list-style-type: none;
    padding-bottom: 15px;
    float: left;
    width:4em;
    height:1em;
    font-size:90%;
}
.sideways li 
{
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width:8em;
    height:2em;
    font-size:95%;
}
.sidewaysLarge li
{
    list-style-type: none;
    float: left;
    padding: 0.25em;
    display: inline;
    font-size:0.9em;
}
.boxify
{
    padding:1em 0em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#sponsid
{
    background: #FFC14F;
    width: 6em;
}
#aboutsponsid
{
    padding: 1em;
    background: #FF8000;
    text-align: left;
}
#formbox,#explination
{
    padding: 1em 0em;
    width:400px;
}




/* Convenience Styles */
.clear
{
    clear: both;
    height:0px;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.padding
{
    height: 2em;
}
.clearpad
{
    clear: both;
    height: 2em;
}

/* Fonts */
.smallfont { font-size:0.8em; }
.mediumfont { font-size:0.9em; }
.italic {font-style:italic;}
.bold {font-weight:bold;}
.bi {font-style:italic; font-weight:bold;}
.ui {font-style:italic; text-decoration:underline;}
.smcapB {font-variant:small-caps; font-weight:bold; font-size:1.2em;}
.smcapBI 
{
    font-style:italic; 
    font-variant:small-caps; 
    font-weight:bold; 
    font-size:1.2em;
}


/* Tables */
.compact th { padding: 1em 0em 0.25em 0em; } 
.compact td { padding: 0.125em; }
.midsized th { padding: 1em; }
.midsized td { padding: 0.5em; }
.bigtable th { padding: 2em; }
.bigtable td { padding: 1.5em; }

/* Navigation */
.nav
{
    border: 1px #FF8000 solid;
    background: #FF8000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height:4em;
    font-weight: bold;
}
#navlinks a:link,
#navlinks a:visited 
{
   text-decoration: none;
   background-color: #FF8000;
   padding: 0.5em;
   color: #FFFFFF;
}
#navlinks a:hover
{
    text-decoration: none; 
    background-color: #769ADD; 
    color: #FFFFFF;
    padding: 0.5em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.adminNav 
{
    width:800px;
    border: 1px #FF8000 solid;
    background: #FF8000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height:6em;
    font-weight: bold;
}
.plainlink a:link,
.plainlink a:visited 
{
   text-decoration: none;
}
.plainlink a:hover
{
    text-decoration: none; 
}
.links a:link,
.links a:visited 
{
   text-decoration: none;
   background-color: #FF8000;
   padding: 0.5em;
   color: #FFFFFF;
}
.links a:hover
{
    text-decoration: none; 
    background-color: #769ADD; 
    color: #FFFFFF;
    padding: 0.5em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
