{% extends "layout.html" %}

{% block title %}Contact Us{% endblock title %}


{% block content %}
<div id="contact">
    <h3>Contact Us</h3>
    <p>You can contact us regarding registration via the following methods:</p>
    <blockquote>
        <p><b>Email:</b>
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
        <p><b>Phone:</b> {{ contact.phone|phone }}</p>
    </blockquote>
    <p>For issues with the website, please contact us via the following methods:</p>
    <blockquote>
        <p><b>Email:</b>
            <a href="mailto:{{ webmaster.email }}">{{ webmaster.email }}</a></p>
    </blockquote>
{% endblock content %}

