<table width='100%' bgcolor="#608BDA" cellpadding="30px">
    <tr>
        <td>
            <table width='600px' bgcolor="#FFFFFF" cellpadding="15px" style="margin: auto;">
                <tr>
                    <td><a href="{{url_for('index',_external=True)}}">
                    <img src="{{- url_for('static', filename='email_header.png',
                    _external=True) -}}"
                    alt="RGV Regional Science and Engineering Fair 2012">
                    </a></td>
                </tr>
                {% block content %}
                {% endblock content %}
                 <tr><td> If you have any questions or concerns, do not
                         hesitate to contact us via email at 
                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                    or by phone at {{ contact.phone|phone }}.</td>
                </tr><tr><td><hr></td></tr><tr>
                <td> Again, thank you for participating in the 2012 RGV
                    Regional Science and Engineering Fair.</td>
                </tr><tr>
                <td> {{ contact.name }},<br>
                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>,
                    <br> {{ contact.phone|phone }}<br> RGV Regional Science Fair
                    Registration Coordinator </td>
            </table>
        </td>
    </tr>
</table>

