{% extends "email_base.html" %}

{% block content %}
<tr><td><p>Thank you for registering with the Rio Grande Valley Regional
        Science and Engineering Fair. Your registration is now complete.
        </p></td></tr>
<tr><td><p>A review of your submitted information is below. If any of this
        information is incorrect, please contact us via email at <a
            href="mailto:{{contact.email}}">{{contact.email}}</a> or by phone
        at {{ contact.phone|phone }}.</p></td></tr>
<tr><td>
        <table id='students'>
        <tr><th colspan=2>Sponsor and School</th></tr>
        <tr><td align='left'>Sponsor:</td>
            <td align='left'>{{leader.sponsor.lastname}},
                {{leader.sponsor.firstname}}</td></tr>
        <tr><td align='left'>School:</td>
            <td align='left'>{{leader.school.name}}</td></tr>
        <tr><td align='left'>District:</td>
            <td align='left'>{{leader.school.district.name}}</td></tr>
        {% for student in project.student.all() %}
        <tr><th colspan=2>{{student.lastname}},{{student.firstname}}</th></tr>
        <tr><td align='left'>Grade:</td>
            <td align='left'>{{student.grade}}th</td></tr>
        <tr><td align='left'>Age:</td><td align='left'>{{student.age}}</td></tr>
        <tr><td align='left'>Gender:</td>
            <td align='left'>{{student.gender|title}}</td></tr>
        {% endfor %}
        <tr><th colspan=2>Project</th></tr>
        <tr><td colspan=2>{{project.title|title}}</td></tr>
        <tr><td align='left'>Category:</td>
            <td align='left'>{{project.category.name}}</td></tr>
        <tr><td align='left'>Division:</td>
            <td align='left'>{{project.division|title}}</td></tr>
        <tr><td align='left'>Space:</td><td align='left'>
            {%- if project.floor %}
            Floor Space
            {% else %}
            Table Space
            {% endif -%}
            </td></tr>
        <tr><th colspan=2>Forms</th></tr>
        <tr><td colspan=2>You plan on turning in the following forms:</td></tr>
        {% set forms = project.forms.first() %}
        {% for form in forms.formnames %}
        {% if forms[form] %}
        <tr><td colspan=2 align='left'>{{forms.formnames[form]|title}}
        </td></tr>
        {% endif %}
        {% endfor %}
        </table>
</td></tr> 
{% endblock %}
