{% macro script(filename) %}
<script type='text/javascript' src='{{url_for('static',filename=filename)}}'></script>
{% endmacro %}

{% macro fieldtable(form,fieldname,flip=false) %}
{% if not flip %}
    <tr><td> {{ form.__getattribute__(fieldname).label }}:<br>
            <span class='warning'>
                {{form.errors.get(fieldname,None)|nonone|first}}</span></td>
        <td>{{ form.__getattribute__(fieldname)(**kwargs) }}</td></tr>
{% else %}
    <tr><td>{{ form.__getattribute__(fieldname)(**kwargs) }}</td>
        <td> {{ form.__getattribute__(fieldname).label }}
            <span class='warning'>
                {{form.errors.get(fieldname,None)|nonone|first}}</span></td>
    </tr>
{% endif %}    
{% endmacro %} 
{% macro submitify(value="submit") %}
<tr><td></td><td><input type='submit' value='{{value}}'></td></tr>
{% endmacro %}
