{% extends "layout.html" %}
{%block title%}Sponsor Registration{%endblock%}

{% block content %}
<div class=clear></div>
<div id='sponsor_reg'>
    <p>Sponsors, please enter the following information to register.</p>
<form method="POST" action="sponsor">
    {{ form.csrf }}
<table>
    <tr><td> {{ form.firstname.label }}:</td><td>{{ form.firstname }}</td></tr> 
    <tr><td> {{ form.lastname.label }}:</td><td>{{ form.lastname }}</td></tr> 
    <tr><td> {{ form.email.label }}:</td><td>{{ form.email }}</td></tr> 
    <tr><td> {{ form.phone.label }}:</td><td>{{ form.phone }}</td></tr> 
    <tr><td> {{ form.relation.label }}:</td><td>{{ form.relation }}</td></tr> 
    <tr><td> {{ form.password.label }}:</td><td> {{ form.password() }}</td></tr>
    <tr><td> {{ form.confirm.label }}:</td><td> {{ form.confirm() }}</td></tr>
    <tr><td></td><td><input type="submit" Value="Submit"></td></tr>
</table>
</form>
</div>
{% endblock content %}
