{% extends "layout.html" %}
{% from "macros.html" import fieldtable,submitify %}
{%block title%}Sponsor Registration{%endblock%}

{% block content %}
<div class=clear></div>
<div id='sponsor_reg'>
    <p>Sponsors, please enter the following information to register.</p>
<form method="POST" action="sponsor">
    {{ form.hidden_tag() }}
<table>
    {{ fieldtable(form,'firstname') }} 
    {{ fieldtable(form,'lastname') }} 
    {{ fieldtable(form,'email') }} 
    {{ fieldtable(form,'phone') }} 
    {{ fieldtable(form,'school_id') }} 
    {{ fieldtable(form,'password') }} 
    {{ fieldtable(form,'confirm') }} 
    {{ submitify() }}
</table>
</form>
</div>
{% endblock content %}
