{% extends "layout.html" %}
{% from "macros.html" import fieldtable,submitify %}
{% block title %} Student Registration {% endblock %}

{% block content %} 

<p> This to submit project info </p>
<div id="projectinfo">
	<form method="POST" action="{{url_for('studentreg3')}}">
		{{ form.hidden_tag() }}
		<table>
			{{ fieldtable(form,'title') }}
			{{ fieldtable(form,'team',class='nobullet') }}
			{{ fieldtable(form,'category_id') }}
			{{ fieldtable(form,'division',class='nobullet') }}
			{{ fieldtable(form,'table',class='nobullet') }}
			{{ fieldtable(form,'electricity',class='nobullet') }}
			<tr><td colspan=3><p class="emphasis"> 
				NOTE: Electricity will only be provided for projects,
				not for laptops. 
			</p></td></tr>		
			{{ submitify() }}
		</table>
	</form> 
</div>
{% endblock %}
