{% extends "layout.html" %}
{% from "macros.html" import fieldtable,submitify %}
{% block title %} Student Registration {% endblock %}

{% block content %}

<div id="team_members">
	<form method="POST" action="{{url_for('teammembers')}}">
		{{ form.hidden_tag() }}
		<table>
			{{ fieldtable(form,'firstname') }}
			{{ fieldtable(form,'lastname') }}
			{{ fieldtable(form,'email') }}
			{{ fieldtable(form,'grade') }}
			{{ fieldtable(form,'age') }}
			{{ fieldtable(form,'gender') }}
			<tr><td>
					{{ form.submit() }}
			</td></tr>
			<tr><td>
					{{ form.done() }}
			</td></tr>
		</table>
	</form>
</div>

{% endblock %}
